* {
  padding: 0px;
  font-size: 32px;
  margin: 0px;
  box-sizing: border-box;
}

/*Header*/
header {
  height: 3rem;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
}
.header-box {
  height: 100%;
  border-bottom-style: solid;
}
.logo {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  top: 0;
  font-family: "Space Mono", monospace;
}
.nav {
  background-color: yellowgreen;
  width: 80%;
  height: 100%;
}
header nav {
  height: 100%;
}
.nav ul {
  background-color: white;
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav li {
  padding: 0rem 1rem;
  text-decoration: none;
  list-style: none;
  font-family: "Comfortaa", cursive;
  font-size: 0.7rem;
}

@media only screen and (max-width: 600px) {
  .nav ul {
    height: auto;
  }
  .nav,
  .logo {
    display: block;
    width: 100%;
  }
  header {
    flex-direction: column;
    height: auto;
  }
}
/*MAIN*/

.aims {
  background-color: white;
}

.products {
  background-color: orange;
}

.Laser-Committee {
  background-color: green;
}
.main-box {
  display: flex;
  background-color: rgb(236, 233, 233);
  flex-direction: column;
  align-items: center;
}
.content-box {
  background-color: white;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgb(46, 7, 7, 0.7);
  border-width: 0.1rem;
  width: 70%;
  padding: 1rem 1.25rem;
  margin: 1rem;
}
.content-box li {
  list-style: none;
  font-family: "Mukta", sans-serif;
  font-weight: 300;
}
.content-box li:not(:first-child, :last-child) {
  margin: 1rem 0rem;
}

.title-box {
  margin-top: 1rem;
}
.title-box h2 {
  font-size: 1.5rem;
  color: rgb(73, 73, 73);
  padding: 1rem;
  text-align: center;
  font-family: "Mukta", sans-serif;
}
@media only screen and (max-width: 600px) {
  .content-box {
    width: 95%;
  }
  .content-box li {
    font-size: 95%;
  }
}
